#mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;   
}

#headerNav {
    width: 70%;
    padding:0 15%;
    background-color: rgb(60, 60, 233);

}
#headerNav a {
    color: white;
}

#headerLogo {
    display: inline-block;
    text-align: center;
}
#news {
    display: inline-block;
    text-align: center;

    position: absolute;
    left: 35%;
    top: 25px;
}

#contacts {
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 25px;
}

#gallery {
    display: inline-block;
    position: absolute;
    left: 55%;
    top: 25px;
}