body {
    font-family: verdana;
    background-color: #34495e;
    width: 100%;
}
main {
    padding-top: 80px;
    margin:0 15%;
    background-color: white;
}


article {
    padding:0 5% 0 5%;
   
}


#imageMap {
    float: right;
    padding-top: 50px;
}

p {
    font-size: 14;
    width: 50%
}

