body {
    color: white;
    background-color: #34495e;

}

img {
    float: left;
    width: 85;
    padding-right: 0.5cm;
}

.tableColor {
    background-color: #e74c3c;
}

table {
    width: 100%;
}

.spanName {
    font-size: 20;
    font-weight: bold;
}

.spanTitle {
    font-weight: bold;
    font-size: 15;
}

.spanData {
    font-size: 12;
    color: #f1c40f;
}