body {
    color: white;
    background-color: #34495e;

}

img {
    /* Да подреждаш елементи с float е супер полезно, както и много мощно като възможностти.
    Реално ще учим в курса float, но идеята тук беше да помислиш за това как можеш да постигнеш същия резултат само с материята,
    която сме покрили до този момент.
    Можеш да видиш моето решение за това как съм го направил без float */
    float: left;
    width: 85;
    padding-right: 0.5cm;
}

.tableColor {
    background-color: #e74c3c;
}

table {
    width: 100%;
}

.spanName {
    font-size: 20;
    font-weight: bold;
}

.spanTitle {
    font-weight: bold;
    font-size: 15;
}

.spanData {
    font-size: 12;
    color: #f1c40f;
}